.nav-items {
  list-style: none;
  display: flex;
}

.nav-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items > li {
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
      width: 60px;
      animation: App-logo-spin infinite 20s linear;
}}


body {
  display: flex;
  flex-direction: column;
}
.mainContent {
  min-height:100%; 
  position:relative; 
  padding-bottom: 50px;
}
.footer {
  position: absolute; 
  left: 0 ; right: 0; bottom: 0; 
  height: 50px;

}